body{
	margin: 0;

}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: hidden;


}

#pull1{
	z-index: 1;
	margin-top: -8px;
	flex-direction: row;
	animation: wind 30s ease-in-out infinite;
	transform-origin: top center;
}


@keyframes wind{

	0%{transform: rotate(2deg)}
	3%{transform: rotate(1deg)}
	7%{transform: rotate(0deg)}
	13%{transform: rotate(1deg)}
	19%{transform: rotate(-1deg)}
	27%{transform: rotate(2deg)}
	30%{transform: rotate(1deg)}
	35%{transform: rotate(2deg)}
	42%{transform: rotate(3deg)}
	50%{transform: rotate(1deg)}
	54%{transform: rotate(-1deg)}
	59%{transform: rotate(-1deg)}
	63%{transform: rotate(0deg)}
	72%{transform: rotate(1deg)}
	78%{transform: rotate(3deg)}
	84%{transform: rotate(0deg)}
	87%{transform: rotate(1deg)}
	91%{transform: rotate(3deg)}
	95%{transform: rotate(1deg)}
	100%{transform: rotate(2deg)}
}

#pull2{
	z-index: 2;
	margin-top: -8px;
	flex-direction: row;
	animation: wind2 30s ease-in-out infinite;
	transform-origin: top center;
}

@keyframes wind2{

	0%{transform: rotate(0deg)}
	3%{transform: rotate(1deg)}
	7%{transform: rotate(3deg)}
	13%{transform: rotate(1deg)}
	19%{transform: rotate(2deg)}
	27%{transform: rotate(2deg)}
	30%{transform: rotate(1deg)}
	35%{transform: rotate(2deg)}
	42%{transform: rotate(3deg)}
	50%{transform: rotate(1deg)}
	54%{transform: rotate(-1deg)}
	59%{transform: rotate(-1deg)}
	63%{transform: rotate(0deg)}
	72%{transform: rotate(1deg)}
	78%{transform: rotate(3deg)}
	84%{transform: rotate(2deg)}
	87%{transform: rotate(1deg)}
	91%{transform: rotate(0deg)}
	95%{transform: rotate(1deg)}
	100%{transform: rotate(0deg)}
}

#pull3{
	z-index: 3;
	margin-top: -8px;
	flex-direction: row;
	animation: wind3 30s ease-in-out infinite;
	transform-origin: top center;
}

@keyframes wind3{

	0%{transform: rotate(3deg)}
	3%{transform: rotate(1deg)}
	7%{transform: rotate(2deg)}
	19%{transform: rotate(-1deg)}
	27%{transform: rotate(2deg)}
	30%{transform: rotate(1deg)}
	35%{transform: rotate(2deg)}
	42%{transform: rotate(3deg)}
	50%{transform: rotate(1deg)}
	54%{transform: rotate(-1deg)}
	59%{transform: rotate(-1deg)}
	63%{transform: rotate(0deg)}
	72%{transform: rotate(1deg)}
	78%{transform: rotate(3deg)}
	84%{transform: rotate(0deg)}
	87%{transform: rotate(1deg)}
	91%{transform: rotate(2deg)}
	95%{transform: rotate(1deg)}
	100%{transform: rotate(0deg)}

}

#pull4{
	z-index: 4;
	margin-top: -8px;
	flex-direction: row;
	animation: wind4 30s ease-in-out infinite;
	transform-origin: top center;
}


@keyframes wind4{

	0%{transform: rotate(1deg)}
	3%{transform: rotate(2deg)}
	7%{transform: rotate(1deg)}
	13%{transform: rotate(2deg)}
	19%{transform: rotate(-1deg)}
	27%{transform: rotate(2deg)}
	30%{transform: rotate(1deg)}
	35%{transform: rotate(-2deg)}
	42%{transform: rotate(3deg)}
	50%{transform: rotate(1deg)}
	54%{transform: rotate(-1deg)}
	59%{transform: rotate(-1deg)}
	63%{transform: rotate(1deg)}
	72%{transform: rotate(3deg)}
	78%{transform: rotate(2deg)}
	84%{transform: rotate(0deg)}
	87%{transform: rotate(2deg)}
	91%{transform: rotate(3deg)}
	95%{transform: rotate(1deg)}
	100%{transform: rotate(1deg)}
}

#pull5{
	z-index: 5;
	margin-top: -8px;
	flex-direction: row;
	animation: wind5 30s ease-in-out infinite;
	transform-origin: top center;
}

@keyframes wind5{

	0%{transform: rotate(3deg)}
	3%{transform: rotate(1deg)}
	7%{transform: rotate(2deg)}
	13%{transform: rotate(1deg)}
	19%{transform: rotate(-2deg)}
	27%{transform: rotate(1deg)}
	30%{transform: rotate(2deg)}
	35%{transform: rotate(3deg)}
	42%{transform: rotate(2deg)}
	50%{transform: rotate(1deg)}
	54%{transform: rotate(-1deg)}
	59%{transform: rotate(-1deg)}
	63%{transform: rotate(0deg)}
	72%{transform: rotate(2deg)}
	78%{transform: rotate(4deg)}
	84%{transform: rotate(1deg)}
	87%{transform: rotate(1deg)}
	91%{transform: rotate(2deg)}
	95%{transform: rotate(1deg)} 
	100%{transform: rotate(3deg)}
}


#img1{
	width: 100px;
	height: 200px;

}

#pull1:hover{
	animation: pull infinite;
	transform-origin: top center;
}
#pull2:hover{
	animation: pull infinite;
	transform-origin: top center;
}

#pull3:hover{
	animation: pull infinite;
	transform-origin: top center;
}

#pull4:hover{
	animation: pull infinite;
	transform-origin: top center;
}

#pull5:hover{
	animation: pull infinite;
	transform-origin: top center;
}


@keyframes pull{

 from { top: 0; left: 0; }
}


#background {
	background-image: url("../img/background.jpg");
	border-image: url('../img/kacheli.png');
	background-repeat: no-repeat;
	background-position: right bottom;	
	background-size: cover contain auto;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: hidden;
	height: 800px;
	z-index: 50;

}



#kacheli{
	display: flex;
	float: right;
	padding-right: 20em;
	padding-top: 17.7em;
	animation: kach 5s ease-in-out infinite;
	transform-origin: top 1px;
	}

	@keyframes kach{

	0%{transform: rotate(0deg)}
	50%{transform: rotate(-0.4deg)}
	100%{transform: rotate(0deg)}
}

#aboutme{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 80%;
	z-index: 99;
	margin: 15em 10% 10% 2%;
	text-shadow: 2px 4px 3px rgba(255,255,255,0.3);
	background: rgba(255, 255, 238, 0.5);
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.5);



}
h2{
	margin-left: 3em;
}

table{
	display: flex;
	margin: 2em;

}
td{
	min-width: 8em;
	margin-right: 1.5em;


}

tr{
	display: flex;
	flex-direction: row;
	margin-bottom: 1.5em;
	font-size: 1.1em;

}